@model List<Mantle.PhotoGallery.Web.Models.PhotoViewModel>

<h2>My photos</h2>
<hr/>

<table class="table">
    @foreach (var photo in Model)
    {
        <tr>
            <td style="text-align: center; vertical-align: middle">
                <a href="@photo.PhotoUrl" class="thumbnail">
                    <img src="@photo.ThumbnailUrl" alt="@photo.Title" style="padding: 10px"/>
                </a>
            </td>
            <td>
                <p class="lead">@photo.Title</p>
                <p>
                    @if (string.IsNullOrEmpty(photo.Description))
                    {
                        <span class="text-muted">No description provided.</span>
                    }
                    else
                    {
                        <span>@photo.Description</span>
                    }
                </p>
                <p>
                    <table class="text-muted" style="border-width: 0; font-size: .75em">
                        <tr>
                            <th>Uploaded By</th>
                            <td>&nbsp;</td>
                            <td>@photo.UserName</td>
                        </tr>
                        <tr>
                            <th>Upload Date (UTC)</th>
                            <td>&nbsp;</td>
                            <td>@photo.PhotoDateUtc.ToString()</td>
                        </tr>
                        <tr>
                            <th>Source</th>
                            <td>&nbsp;</td>
                            <td>@photo.Source</td>
                        </tr>
                        <tr>
                            <th>Photo Id</th>
                            <td>&nbsp;</td>
                            <td>@photo.Id</td>
                        </tr>
                    </table>
                </p>
            </td>
        </tr>
    }
</table>