@model List<Mantle.PhotoGallery.Web.Models.PhotoViewModel>

<h2>All photos</h2>

<table class="table">
    @foreach (var photo in Model)
    {
        <tr>
            <td style="text-align: center; vertical-align: middle; white-space: nowrap; width: 1%">
                <a href="@photo.PhotoUrl" class="thumbnail">
                    <img src="@photo.ThumbnailUrl" alt="@photo.Title" style="padding: 10px" />
                </a>
            </td>
            <td>
                <p class="lead">@photo.Title</p>
                <p>
                    @if (string.IsNullOrEmpty(photo.Description))
                    {
                        <span class="text-muted">No description provided.</span>
                    }
                    else
                    {
                        <span>@photo.Description</span>
                    }
                </p>
                <p class="text-muted">
                    <small>
                        <b>Uploaded By: </b>@photo.UserName<br/>
                        <b>Upload Date (UTC): </b>@photo.PhotoDateUtc<br/>
                        <b>Source: </b>@photo.Source<br/>
                        <b>Photo Id: </b>@photo.Id
                    </small>
                </p>
            </td>
        </tr>
    }
</table>